@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* configurações que se aplicam ao site todo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* variaveis para facilitar na hora de definir tamanhos de certas sessões do site */

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(185vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

span {
font-size: 18px;
}



/* header */

.header {
  position: fixed;
    height: var(--tamanho-header);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.headerCadastroLogin {
    height: var(--tamanho-header);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.header span{
  color: white;
}
.header li {
  color: white;
}
.header a {
  color: white;
  text-decoration: none;
}
.header img{
    height: 70px;
    width: 70px;
}
.headerCadastroLogin span{
  color: white;
}
.headerCadastroLogin li {
  color: white;
}
.headerCadastroLogin a {
  color: white;
  text-decoration: none;
}
.headerCadastroLogin img{
    height: 70px;
    width: 70px;
}
.agora {
  font-weight: 800;
}
.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    list-style: none;
}
.headerEsq {
    display: flex;
    flex-direction: row;
}
.headerCadastroLogin .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  list-style: none;
}
.nomeDoSite{
    display: flex;
    flex-direction: column;
}
.nome {
    font-size: xx-large;
    font-weight: bold;
}

/* tudo relacionado aos banners da pagina inicial */

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 60px;
}
.banner {
height: var(--tamanho-banner);
display: flex;
flex-direction: column;
justify-content: center;
border-bottom: 2px solid black;
background-color: rgb(3, 219, 3);
padding-left: 50px;
padding-right: 50px;
padding-bottom: 20px;
}
.bannerIntro {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: yellow;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
.bannerConclusão {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
    background-color: yellow;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    }
.bannerFontes {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(3, 219, 3);
}
.bannerFontes .titulo {
  padding: 0;
}
.bannerFontes a {
    padding-bottom: 10px;
    color: rgb(255, 235, 52);
}
.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagemH img {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 500px;
    border: 1px solid black;
    background-color: white;
}
.imagemV img {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 420px;
    border: 1px solid black;
}
.imagem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.descrição {
    display: flex;
    color: rgb(85, 85, 85);
    padding-bottom: 10px;
    font-size: 14px;
}
.texto {
    padding-right: 100px;
    font-size: 17px;
    width: 50%;
    height: 590px;
}

/* cadastro/login */

.login {
    height: var(--tamanho-login);
    background-color: yellow;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .login .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .card {
    width: 50%;
    background-color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(255, 235, 51);
    flex-direction: column;
    height: fit-content;
    padding: 20px 0;
  }
  
  .card h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .formulario span {
    font-size: 15px;
    font-weight: 800;
  }
  
  .formulario input {
    border: 2px solid yellow;
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  
  .formulario select {
    border: 2px solid yellow;
    background-color: white;
    color: gray;
    height: 36px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
  }
  
  .botao {
    cursor: pointer;
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: black;
    width: 120px;
    height: 30px;
    align-self: center;
    margin-top: 20px;
  }
  
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  /* FORMULARIO */
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: yellow 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #32b9cd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #ED145B;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

/* footer */

.footer{
    height: var(--tamanho-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}
.footer span {
  color: white;
}